__pycache__
cdd_MSAs_8_28_2019
hssp-3.1.5
hssp-3.1.5 2
mapgap
mapgaps2.1.5
mapgaps2.1.5 2
SCOPe
v3.17
7vld.pdb
cdd2mgs
scope-2.07-stable.sql
scope-2.07-stable.sql.bz2
sample.py
.DS_Store
rnn_training
dssp_example.py
